.navbar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex-wrap: nowrap;
}
ul {
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex-wrap: nowrap;
  list-style: none;
  padding-left: 2rem;
}

li {
  padding-left: 2rem;
}
